initialize(){
	if (exists("slimgui")){
		defineConstant("seed", 18); //random seed value
		defineConstant("mu", 1.46455e-8); //mutation rate
		defineConstant("re", 1.29e-8); //recombination rate
		defineConstant("sp", 10089); //physical start position
		defineConstant("ep", 80263251); //physical end position
		defineConstant("on1", 79); //input population 1 individual number
		defineConstant("op1", "./AFR_chr18.vcf"); //input population 1 file path
		defineConstant("on2", 185); //input population 2 individual number
		defineConstant("op2", "./EAS_chr18.vcf"); //input population 2 file path
		defineConstant("on3", 135); //input population 3 individual number
		defineConstant("op3", "./EUR_chr18.vcf"); //input population 3 file path
		defineConstant("on4", 49); //input population 4 individual number
		defineConstant("op4", "./NAT_chr18.vcf"); //input population 4 file path
		defineConstant("on5", 23); //input population 5 individual number
		defineConstant("op5", "./OCE_chr18.vcf"); //input population 5 file path
		defineConstant("on6", 179); //input population 6 individual number
		defineConstant("op6", "./SAS_chr18.vcf"); //input population 6 file path
		defineConstant("on7", 152); //input population 7 individual number
		defineConstant("op7", "./WAS_chr18.vcf"); //input population 7 file path
		defineConstant("gen", 15); //number of generations after admixture event
		defineConstant("an", 200); //admixed individual number
		defineConstant("rn", 500); //reference individual number
		defineConstant("ts", "./admix_7way_tree_sequence.trees"); //output tree sequence file path
		defineConstant("vcf", "./admix_7way_individuals.vcf"); //output individual file path
	}
	setSeed(seed);
	initializeTreeSeq();
	initializeMutationRate(mu);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, sp, ep);
	initializeRecombinationRate(re);
}
1 late(){
	cat("start simulation\n");
	defineConstant("seed1", getSeed());
	sim.addSubpop("p1", on1);
	p1.genomes.readFromVCF(op1, m1);
	sim.addSubpop("p2", on2);
	p2.genomes.readFromVCF(op2, m1);
	sim.addSubpop("p3", on3);
	p3.genomes.readFromVCF(op3, m1);
	sim.addSubpop("p4", on4);
	p4.genomes.readFromVCF(op4, m1);
	sim.addSubpop("p5", on5);
	p5.genomes.readFromVCF(op5, m1);
	sim.addSubpop("p6", on6);
	p6.genomes.readFromVCF(op6, m1);
	sim.addSubpop("p7", on7);
	p7.genomes.readFromVCF(op7, m7);
	sim.treeSeqRememberIndividuals(sim.subpopulations.individuals);
	community.rescheduleScriptBlock(s1, start=gen+5, end=gen+5);
	community.rescheduleScriptBlock(s2, start=gen+6, end=gen+6);
}
2 late(){
	defineConstant("fn", 400);
	p1.setSubpopulationSize(fn);
	p2.setSubpopulationSize(fn);
	p3.setSubpopulationSize(fn);
	p4.setSubpopulationSize(fn);
	p5.setSubpopulationSize(fn);
	p6.setSubpopulationSize(fn);
	p7.setSubpopulationSize(fn);
}
3 late(){
	sim.addSubpopSplit("p8", fn, p1);
	sim.addSubpopSplit("p9", fn, p2);
	sim.addSubpopSplit("p10", fn, p3);
	sim.addSubpopSplit("p11", fn, p4);
	sim.addSubpopSplit("p12", fn, p5);
	sim.addSubpopSplit("p13", fn, p6);
	sim.addSubpopSplit("p14", fn, p7);
}
4 late(){
	defineConstant("apctg1", 0.142857);
	defineConstant("apctg2", 1.0-(6*apctg1));
	sim.addSubpop("p15", fn);
	p15.setMigrationRates(c(p8, p9, p10, p11, p12, p13, p14), c(apctg1, apctg1, apctg1, apctg1, apctg1, apctg1, apctg2));
}
5 late(){
	p15.setMigrationRates(c(p8, p9, p10, p11, p12, p13, p14), c(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0));
}
s1 100 late(){
	defineConstant("rnsize1", asInteger(rn*0.142857));
	defineConstant("rnsize2", rn-(rnsize1*6));
	p1.setSubpopulationSize(rnsize1);
	p2.setSubpopulationSize(rnsize1);
	p3.setSubpopulationSize(rnsize1);
	p4.setSubpopulationSize(rnsize1);
	p5.setSubpopulationSize(rnsize1);
	p6.setSubpopulationSize(rnsize1);
	p7.setSubpopulationSize(rnsize2);
	p15.setSubpopulationSize(an);
}
s2 101 late(){
	sim.treeSeqOutput(ts);
	c(sim.subpopulations[0].individuals.genomes, sim.subpopulations[1].individuals.genomes, sim.subpopulations[2].individuals.genomes, sim.subpopulations[3].individuals.genomes, sim.subpopulations[4].individuals.genomes, sim.subpopulations[5].individuals.genomes, sim.subpopulations[6].individuals.genomes, sim.subpopulations[14].individuals.genomes).outputVCF(filePath=vcf, outputMultiallelics=F, append=F, simplifyNucleotides=T);
	sim.simulationFinished();
	cat("end simulation\n");
}